version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      # Only ignore minor and patch updates for FrankieOne organization
      - dependency-name: "frankieone/*"
        update-types: ["version-update:semver-minor", "version-update:semver-patch"]      
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
